services:
  monitor:
    build: ./monitor
    container_name: mc-server-status
    env_file: .env
    environment:
      - COORDINATE_MAPPER_WEBHOOK_URL=${COORDINATE_MAPPER_WEBHOOK_URL}
      - RCON_HOST=mc
      - RCON_PORT=25575
      - RCON_PASSWORD=${RCON_PASSWORD}
      - CHECK_INTERVAL=150
    volumes:
      - ./data/logs:/data/logs:ro
    depends_on:
      - mc
  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - SUBDOMAINS=${DUCKDNS_SUBDOMAIN}
      - TOKEN=${DUCKDNS_TOKEN}
      - LOG_FILE=false
    restart: unless-stopped
  mc:
    image: itzg/minecraft-server:java17
    container_name: mc-forge-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: "FORGE"
      VERSION: "1.20.1"
      MEMORY: "8G"
      ENABLE_RCON: "true"
      RCON_PORT: 25575
      RCON_PASSWORD: ${RCON_PASSWORD}
      
      # Points to your running 'packwiz serve' terminal
      PACKWIZ_URL: "https://cmoser965.github.io/minecraft-server-2026/modpack/pack.toml"
      
      # High-performance Java Flags for 12GB+ RAM
      JVM_OPTS: >
        -XX:+UseG1GC
        -XX:+ParallelRefProcEnabled
        -XX:MaxGCPauseMillis=200
        -XX:+UnlockExperimentalVMOptions
        -XX:+DisableExplicitGC
        -XX:+AlwaysPreTouch
        -XX:G1NewSizePercent=30
        -XX:G1MaxNewSizePercent=40
        -XX:G1HeapRegionSize=8M
        -XX:G1ReservePercent=20
        -XX:G1HeapWastePercent=5
        -XX:G1MixedGCCountTarget=4
        -XX:InitiatingHeapOccupancyPercent=15
        -XX:G1MixedGCLiveThresholdPercent=90
        -XX:G1RSetUpdatingPauseTimePercent=5
        -XX:SurvivorRatio=32
        -XX:+PerfDisableSharedMem
        -XX:MaxTenuringThreshold=1

    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    volumes:
      - ./data:/data
    restart: unless-stopped